<div class="container">
  <h1>3. Pipes</h1>
  <hr>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Pipe</th>
        <th scope="col">Resultado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{nombre}}</td>
        <td>uppercase</td>
        <td>{{nombre | uppercase}}</td>
      </tr>
      <tr>
        <td>{{nombre}}</td>
        <td>lowercase</td>
        <td>{{nombre | lowercase}}</td>
      </tr>
      <tr>
        <td>{{nombre}}</td>
        <td>slice:2</td>
        <td>{{nombre | slice:2}}</td>
      </tr>
      <tr>
        <td>{{nombre}}</td>
        <td>slice:0:2</td>
        <td>{{nombre | slice:0:2}}</td>
      </tr>
      <tr>
        <td>{{array}}</td>
        <td>slice:2:5</td>
        <td>{{array | slice:2:5}}</td>
      </tr>
      <tr>
        <td>{{PI}}</td>
        <td>number:'3.0-2'</td>
        <td>{{PI | number:'1.0-2'}}</td>
      </tr>
      <tr>
        <td>{{a}}</td>
        <td>percent:'0.2-2'</td>
        <td>{{a | percent:'0.2-2'}}</td>
      </tr>
      <tr>
        <td>{{salario}}</td>
        <td>currency</td>
        <td>{{salario | currency}}</td>
      </tr>
      <tr>
        <td>{{salario}}</td>
        <td>currency:'EUR'</td>
        <td>{{salario | currency:'EUR'}}</td>
      </tr>
      <tr>
        <td>{{salario}}</td>
        <td>currency:'EUR':'symbol':'0.2-2'</td>
        <td>{{salario | currency:'EUR':'symbol':'0.2-2'}}</td>
      </tr>
      <tr>
        <td>{{valorDePromesa}}</td>
        <td>async</td>
        <td>{{valorDePromesa | async}}</td>
      </tr>
      <tr>
        <td>{{hoy}}</td>
        <td>date</td>
        <td>{{hoy | date}}</td>
      </tr>
      <tr>
        <td>{{hoy}}</td>
        <td>date:'medium'</td>
        <td>{{hoy | date:'medium'}}</td>
      </tr>
      <tr>
        <td>{{hoy}}</td>
        <td>date:'MMMM-dd'</td>
        <td>{{hoy | date:'MMMM-dd'}}</td>
      </tr>
      <tr>
        <td>{{hoy}}</td>
        <td>date:'dd de MMMM de YY'</td>
        <td>{{hoy | date:'dd MMMM yyyy'}}</td>
      </tr>
      <tr>
        <td>{{nombre2}}</td>
        <td>capitalizado</td>
        <td>{{nombre2 | capitalizado}}</td>
      </tr>
      <tr>
        <td>{{nombre2}}</td>
        <td>capitalizado:false</td>
        <td>{{nombre2 | capitalizado:false}}</td>
      </tr>
      <tr>
        <td>{{nombre}}</td>
        <td>pass:{{mostrada}}</td>
        <td>
          {{nombre | pass:mostrada}}
          <button (click)="mostrada = !mostrada" class="btn btn-outline-primary btn-block">
            <span *ngIf="!mostrada" >Mostrar</span>
            <span *ngIf="mostrada">No mostrar</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <h4>Slice <small>"let item of array | slice:2:5"</small></h4>
  <ul>
    <li *ngFor="let item of array | slice:2:5">{{item}}</li>
  </ul>

  <h4>JSON</h4>
  <pre>{{ heroe | json }}</pre>

  <h4>YouTube <small>Video</small></h4>
  <hr>
  <iframe width="560" height="315" [src]="video | domseguro:'https://www.youtube.com/embed/':'Rht7rBHuXW8'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

</div>
