<div class="container pt-3">
  <h1 class="animated fadeIn fast">Sobre DibujApp</h1>
  <hr>
  <p class="animated fadeIn">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus, quibusdam minus doloremque explicabo quod consectetur suscipit et totam doloribus mollitia animi ea, eaque, nulla voluptate maxime tenetur! Amet maiores cupiditate vitae neque inventore velit culpa suscipit alias atque iste tenetur, nobis quidem nemo? Eveniet quo unde, voluptatem accusamus voluptates sint incidunt laboriosam est sed architecto animi optio explicabo deserunt ipsum dolor distinctio enim quisquam obcaecati magnam, eaque aliquid, officiis quaerat asperiores inventore? Natus corporis omnis nostrum! Autem magni quaerat quidem voluptas cum reiciendis nam ea ducimus eos, assumenda nesciunt! Consequatur quidem vitae est nostrum officiis natus amet quo magni ipsum!</p>
</div>
